<%- include("partials/header.ejs") %>
<h1>Login Page</h1>

<form action="/login" method="POST">
  <div class="mb-3 mt-3">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" name="email" required />
  </div>

  <div class="mb-3">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" name="password" required />
  </div>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

<a href="/register">Register</a>

<%- include("partials/footer.ejs") %>
